.tool-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80%;
}

.tool-page-card {
  display: flex;
  width: 75%;

  .card-actions{
    display: flex;
    justify-content: center;
  }
  & > * {
    width: 100%;
  }
}

.fields-set {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  & > * {
    margin: 0 10%;
  }
  .checkbox-item {
    max-width: 256px;
    margin: 15px 10%
  }
  
  @media screen and (max-width: 1140px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}
