.user-manage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80%;
}

.user-manage-card {
  display: flex;
  flex-direction: column;
  width: 75%;

  .users {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 15%;
  }

  .single-user-card {
    max-height: 100px;
  }
  .single-user-card,
  .single-user-card-expanded {
    display: flex;
    margin: 20px;

    .param {
      margin: 20px;
    }
    .param-title {
      font-weight: 800;
      padding-right: 5px;
    }
  }
}
