@import "../../assets/theme/default.scss";

.header-appbar {
  background-color: $main-color;
}

.login-ul {
  float: right;
  margin-right: 3%;
}

.header-btn{
  background-color: $main-color;
  color: $main-text-color;

  &:hover {
    background-color: $main-color-lightened;
  }
}

.header-heading{
  color:$main-text-color;
}

.user-page,
.header-login-btn {
  position: relative;
  left: 90%;
  top: 25%;
  color: $main-text-color;
}
