.requests-list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 90%;
  z-index: 1;
}
.invoice-card{
  cursor: pointer;
  display: flex;
  margin: 20px 3%;
  flex: 0 25%;
  max-width: 25%;
  max-height: 200px;
  min-height: 100px;
}
.card-header{
  font-weight: 800;
}

.invoice-info{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  .category-name{
    font-weight: 600;
    padding-right: 5px;
    //flex-basis: 60px;
  }
}

.paginatione {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

