@import "../../assets/theme/default";

.signup-page-wrapper {
  background-color: $main-background-color;
  flex:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-wrapper {
  display: flex;
  align-items: center;
  min-height: 80%;
}
